*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #03018C;
    color: #fff;
}

header{
    text-align: center;
    margin-bottom: 1rem;
}

main{
   width: 90%; 
   height: 30vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

.inputs input{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.inputs button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

p{
    cursor: pointer;
    margin-bottom: 1rem;
}

.span{
    color: #4CAF50;
}